* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #EAEAEA;
  text-decoration: none;
}

html {
  background-color: #1a1a1a;
  color: #EAEAEA;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-delay: -0s !important;
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
  }
}