* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #247dac;
  text-decoration: none;
  font-weight: bold;
  transition: text-shadow 0.1s ease-in;

  &:hover {
    text-shadow: 0 0 9px #247dac;
  }
}

html {
  background-color: #1a1a1a;
  color: #EAEAEA;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-delay: -0s !important;
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
  }
}