@import "@/styles/mixins";

.page-layout {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.page-layout__header {
    margin-bottom: 2rem;
}