@import "@/styles/mixins";

.footer {
    background-color: #383838;
    margin-top: auto;
    padding: 1rem 0;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 55vw;
    margin: 0 auto;

    p {
        text-align: center;
        color: white;
    }

    @include for-phone-only {
        max-width: 85vw;
    }
}
