.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.4);
    background-color: #383838;


    transition: padding 0.3s;
    * {
        transition: 0.3s;
    }

    &.navbar--minimized {
        box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.4);
        padding: 0.5rem 0;

        .navbar__title {
            font-size: 1.4rem;
        }
        .navbar__nav {
            margin-top: 0rem;
        }
    }
}

.navbar__title {
    font-weight: 900;
    // text-shadow: #FC0 1px 0 10px;
    // text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.navbar__nav {
    margin-top: 0.8rem;
}

.navbar__nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
