@import "@/styles/mixins";

.header {
    text-align: center;
    font-weight: 400;
    color: #EAEAEA;
}

.header-h1 {
    font-size: 2.6rem;
}

.header-h2 {
    font-size: 2.4rem;
}

.header-h3 {
    font-size: 2.2rem;
}

.header-h4 {
    font-size: 2rem;
}

.header-h5 {
    font-size: 1.8rem;
}

.header-h6 {
    font-size: 1.6rem;
}

@include for-phone-only {
    .header-h1 {
        font-size: 2.4rem;
    }

    .header-h2 {
        font-size: 1.9rem;
    }

    .header-h3 {
        font-size: 1.7rem;
    }

    .header-h4 {
        font-size: 1.5rem;
    }

    .header-h5 {
        font-size: 1.3em;
    }

    .header-h6 {
        font-size: 1.1rem;
    }
}